body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
  background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
  background-repeat: repeat;
  background-size: auto;

}

footer {
  padding: 24px, 0px, 24px, 0px;
  border-bottom: 24px;

}

img {
    height: 200px;
    box-shadow: 12px 12px 2px 1px rgba(17, 212, 203, 0.75);
    transition: box-shadow 1s;

}
img:hover{
    box-shadow: 12px 12px 2px 1px rgb(66, 173, 226, 0.75);

}


nav {
  color: black;
  border-bottom: 1px;
  padding: 16px 0px 16px 750px;
  background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: auto;
}

.grid > div {
  padding-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3rem;

}
